<footer class="bg-dark py-3 text-light w-100 text-center">
      Jhon Yupanqui - {{ getYear }}
</footer>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="assets/js/bootstrap.min.js"></script>